@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,700&display=swap');

:root {
  --primaryColor: #5fb7ea;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --mediumGrey: #bbb;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainLetterSpacing: 0.2rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--mainGrey);
  color: var(--mainBlack);
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}

.text-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainLetterSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}

.main-link {
  padding: .8rem 1.8rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainLetterSpacing);
  outline: 4px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);
}
.medium-link {
  padding: .4rem 1rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  /* letter-spacing: var(--mainLetterSpacing); */
  letter-spacing: 1px;
  outline: 4px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);
}
.medium-link:hover {
  background: var(--mediumGrey);
  text-decoration: none;
  color: var(--mainWhite);
  outline: 4px solid var(--mediumGrey);
}

